.Clear {
    background-color: #8F5E1E;
    color: white;
    font: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;
    border: 1px solid #AA6817;
    outline: none;
}

.Clear:hover {
    background-color: #99703F;
}

.Clear:active {
    border: 1px solid #AA6817;
}

.Clear:disabled {
    background-color: #7E7365;
    cursor: not-allowed;
    border: 1px solid #7E7365;
    color: #cccccc;
}

.Clear:not(:disabled) {
    animation: enable 0.3s linear;
}